# Python virtual environments
.venv/
venv/

# macOS metadata
.DS_Store

# Python bytecode/cache
__pycache__/
*.py[cod]

# Model checkpoints
*.pth
*.pt
*.onnx

# Generated artifacts
outputs/*
!outputs/.gitkeep
runs/
datasets/
